{% extends "auctions/layout.html" %}

{% block body %}
    <h2><strong>Active Listings</strong></h2>

    {% if message %}
    <div>{{ message }}</div>
    {% endif %}
    
        
        {% for l in listing %}
                <a href="{% url 'list' l.id %}">
                        <div style="margin: 20px; text-align: center; border: solid 1px;">
                                <img src="{{l.image_url}}" style="display: inline-block; width: 250px; height: 250px; text-align: start;"> 

                                <div style="text-align: center; padding: 16px; display: inline-block;">
                                        <h4> {{l.title}} </h4>
                                        <h5> Price : {{l.bid_start}}</h5>
                                        {{l.created_time}}
                                
                                </div>
                        </div>
                </a>
        {% endfor %}
        
    
{% endblock %}